html {
    scroll-behavior: smooth;
  }
  
  body {	
    font-family: "SF Pro Text", "Myriad Set Pro", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 1.5px;
    line-height: 34px;
    color:white;
    margin: 0;
    /* background: linear-gradient(0deg, rgb(98, 0, 255), rgb(119, 198, 255)); */
    /* background-image: url("./images/IMG_0837.JPG"); */
    /* background-repeat: no-repeat;
  background-size: 100% 490px; */
  background-color: #eeeef7;
  background-size: 100% 2100px;
  background-repeat: no-repeat;
  }
  
  
  * {
    box-sizing: border-box;
    margin: 0;
  }
 
  canvas {
    position: fixed;
    height: 700px !important;
    left:0;
    top:0px;
    /* z-index:-2; */
  }

  canvas {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 87%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 87%, 0 100%);
  }

  #clickMe {
    text-align: center;
    color: grey;
    opacity: .4;
  }
  /* sticky footer styling */
  
  /* https://css-tricks.com/snippets/css/sticky-footer/ */
  
  /* html,
  body {
    height: 100%;
  } */
  
  .wrapper {
    height: auto !important;
    height: 100%;
    min-height: 100%;
    margin: 0 auto -105px;
  }
  
  footer,
  .push {
    height: 50px;
    background-color: transparent;
    text-align: center;
    font-size: 11px;
  }  
  .social:hover {
    cursor: pointer;
    transform: scale(1.1);
  }
  
  /* end hover styling */
  
  /* general styling */
  
  .container {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    clear: both;
    margin-bottom: 80px;
  }
  
  h1,
  h2,
  h3,
  p {
    margin-bottom: 20px;

  }
  
  p {
    text-indent: 2.0em;

    margin-top: 40px;
    padding-right: 40px;
    padding-left: 40px;
  }

  p:last-child {
    margin-bottom: 0;
  }
  
  h1,
  h2,
  h3 {
    font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    font-weight: 700;
    letter-spacing: 1px;
    /* color: rgb(230, 230, 230); */
    color: black;
    
  }
  
  h1 {
    padding-bottom: 20px;
    font-size: 20px;
    font-weight: 500;
    line-height: 49px;
    letter-spacing: 6px;
  
    /* border-bottom: 2px solid black; */
    float: left;
  }
  
  h2,
  h3 {
    font-size: 22px;
  }
  
  /* header */
  
  nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    padding-top: 20px;
    background-color: transparent;
  }
  .logo {
    margin-left: -100px;
  }
  .logo img {
    width: 75%;
    height: auto;
    max-width: 25rem;
  }
  .nav-links {
    position: relative;
    top: -20px;
    display: flex;
    justify-content: space-around;
    width: 35%;
  }
  .nav-links li{
    list-style: none;
    padding: .5rem;
    padding-top: 0;
    padding-bottom: 0;
    border-radius: .3rem;
  }
  .nav-links li:hover{
    transform: scale(1.1);
    background-color: rgba(255, 255, 255, 0.146);
  }
  .nav-links a{
    color: white;
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
  }
  .burger {
    display:none;
    cursor: pointer;
  }
  .burger div{
    width: 25px;
    height: 3px;
    background-color: black;
    margin: 5px;
    transition: all 0.3s;
  }
  
  @keyframes navLinkFade {
    from{
      opacity: 0;
      transform: translateX(50px);
    }
    to {
      opacity: 1;
      transform: translateX(0px);
    }
  }
  
  .toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
  }
  .toggle .line2 {
    opacity: 0;
  }
  .toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
  }
  
  #logo:hover {
    transform: scale(1.05);
  } */
  
  /* footer */
  footer {
    padding: 10px 0;
    clear: both;
    font-size: 12px;
    color: #fff;
    text-align: center;
    background: black;
    /* border-top: 8px solid #4aaaa5; */
  }
  
  /* sidebar */
  .sidebar {
    float: right;
    width: 100%;
    max-width: 270px;
    padding: 30px;
    margin-bottom: 20px;
    background: transparent;
  }

  h3,
  .sidebar h2 {
    padding-bottom: 20px;
    margin-bottom: 15px;
    line-height: 22px;
  }
  
  .dark-title {
    color: white;
  }
  div.outer {
    background-image: linear-gradient(#161616, #000000);
    padding-bottom: 150px;
  }
  div.outer {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, -900% 0%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, -900% 0%);
  }

  a#back-end-link {
    color: white;
  }

  a#back-end-link:hover {
    color: rgb(255, 200, 97);
  }

  .tableElement a:hover {
    color: rgb(255, 200, 97);
  }
  td:hover {
    cursor: pointer;
  }

  div.outer1 {
    margin-top: -100px;
    z-index: -1;
    position: relative;
    background-image: linear-gradient(#161616, #000000);
  }
  /* div.outer1 {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, -900% 0%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, -900% 0%);
  } */

  
  div.contact-background {
    /* background: url("./images/sunset_cropped.v2.png");
    width: 100%;
    height: auto; */
    padding-top: 30px;
    /* background: linear-gradient(0deg, rgb(119, 155, 255),  rgb(98, 0, 255)); */
    background-color: transparent;
    background-repeat: no-repeat;
  }
  form#contact-form {
    max-width: 400px;
    margin: auto;
  }

  hr.new1 {
    border-top: 4px dashed black;
  }
  .display-none {
    display: none;
  }
  
  .social {
    width: 75px;
    height: 75px;
    margin-top: 8px;
    margin-right: 5px;
    transform: scale(.8);
    position: relative;
    bottom: 20px;
  }
  
  .social:last-child {
    margin-right: 0;
  }
  
  /* main */
  
  #main-container {
    padding-top: 20px;
    text-align: center;
    background: transparent;
  }
  
  .main-section {
    display: inline-block;
    width: 100%;
    max-width: 1000px;
    padding: 30px, 0px, 30px, 30px;
    margin: 0;
    /* background: #f6f7f8; */
    /* border: 1px solid black; */
  }

  .work4 {
    text-align: center;
  }

  .boost-game, .card {
    display: inline;
  }

  .card-title {
    font-size: 20px;
    color: black;
  }
  .card-text {
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 1.5px;
    line-height: 34px;
    color: black;
  }

  /* .playMe {
    color: rgb(49, 97, 255);
  } */
  .playMe {
    margin-left: -190px !important;
  }
  
  img {
    border-radius: 10px;
    max-width: 600px;
    height: auto;
  }
   /* Projects Table Sections */
   #projects {
    border-collapse: collapse;
    width: 100%;
  }
  
  #projects td, #projects th {
    border: 1px solid rgba(221, 221, 221, 0.201);
    padding: 8px;
  }
  
  #projects tr:nth-child(even){background-color: transparent;}
  
  /* #projects tr:hover {
    background-color: rgb(26, 25, 25);
  } */

  tr.table-top {
    background-color: rgb(26, 25, 25);
  }
  
  /* .gitlinks {
    margin-top: 10px;
  } */

  #projects th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: transparent;
    color: white;
    Text-Decoration: None;
  }
  /* contact page */
  #contact-form ul {
    margin-bottom: 20px;
  }
  
  #contact-form li {
    margin-bottom: 10px;
  }

  label,
  input[type=text],
  input[type=email],
  textarea {
    /* display: block; */
    width: 100%;
    border-radius: 10px;
  }
  
  input[type=text],
  input[type=email],
  textarea {
    color: black;
    height: 45px;
    padding: 10px;
    margin-bottom: 30px;
    font-size: 16px;
    background-color: transparent;
    border: 1.5px solid rgb(184, 184, 184);
  }

  ::placeholder {
    color: rgb(202, 199, 199);
    opacity: 1; /* Firefox */
  }
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
   color: white;
  }
  ::-ms-input-placeholder { /* Microsoft Edge */
   color: white;
  }
  
  textarea {
    height: 200px;
  }

  td.a {
    color: white;
  }
  
  input[type=submit] {
    display: inline-block;
    background-color: rgb(40, 40, 40); 
    padding-bottom: 10px;
    padding-top: 10px;
    padding-right: 20px;
    padding-left: 20px;
    margin-top: 30px;
    width: 150px;
    font-size: 18px;
    color: white;
    cursor: pointer;
    border-radius: 10px;
  }
  input[type=submit]:hover {
    opacity: .8;
    
  }
  
  #selfie {
    height: 180px;
    margin-right: 200px;
    border-radius: 50%;
  
  }
  #faceDiv {
    text-align: center;
  }
  
  #aboutMeDiv {
    text-align: center;
  }
  
  label {
    float: left;
    font-family:"SF Pro Text", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    font-size: 16px;
    /* color: rgb(230, 230, 230); */
    color: black;
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
  }
  
  
  /* ====================================================================================================== */
  /* scroll */
  
  #sidebar {
    /* display: block; */
    position: relative;
  }
  .smenu-links {
    font-size: 20px;
    -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
  }
  a {
    font-family:"SF Pro Text", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    font-size: 16px;
    /* color: rgb(230, 230, 230); */
    color: white;
    text-decoration: none;
  }
  
  /* .side-content {
    position: fixed;
    margin-left: -60px;
    top: 50%;
    left: 0;
    -ms-transform: rotate(270deg); 
    -webkit-transform: rotate(270deg); 
    transform: rotate(270deg);
  }
  .side-content.scroll {
    position: absolute;
    top: auto !important;
    bottom: 0;
  }
  #sidenav {
    position: static;
  } */
  
  ul li {
    float: left;
    margin-left: 30px;
    list-style: circle;
    list-style-type: circle;
  }
  
  #welcome {
    color: white;
    margin-top: 50px;
    margin-bottom: 40px;
    font-size: 60px;
    font-weight: bold;
    width: 100%;
    letter-spacing: 6px;
  }
  
  /* .seeMore {
    display: inline;
    justify-content: space-around;
    float: right;
  } */

  .unselectable {
    -moz-user-select:none;
    -webkit-user-select:none;
}
  
  /* .row {
    display: noflex;
  } */
  
  /* FADING IMAGES
  ====================================================================================================== */
  /* .work1 {
    margin-right: -500px;
  } */
  
  .work {
    margin-bottom: 45px;
    opacity: 1;
  }
  
  /* .work:hover {
    opacity: 0.8;
    filter: alpha(opacity=50); 
  } */
  
  #codeLink {
    /* background-color: #1eb6ff;  */
    background-color: rgb(40, 40, 40);
    color: white;
    letter-spacing: 0.2;
    display: inline-block;
    padding-bottom: 5px;
    padding-top: 5px;
    padding-right: 20px;
    padding-left: 20px;
    margin-top: 150px;
    position: absolute;
    margin-left: -150px;
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
    border-radius: 10px;
    width: 150px;
  }
  #codeLink:hover {
    cursor: pointer;
    transform: scale(1.1);
  }
  .hidden {
    display: none;
  }
  #playMe {
    background-color: #1eb6ff; 
    color: white;
    letter-spacing: 0.2;
    display: inline-block;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-right: 20px;
    padding-left: 20px;
    margin-top: 140px;
    position: absolute;
    margin-left: -250px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 35px;
    width: 150px;
  }
  
  /* MOBILE RESPONSIVE MEDIA QUERIES
  ====================================================================================================== */
  
  /* @media screen and (max-width: 1000px) {
    [id*="sidebar"] {
      display:none;
    }
  } */
  
  @media screen and (max-width: 750px) {
    .logo {
      margin-left: 0px;
    }
  }
  
  /* Hamburger menu modile responsive */
  @media screen and (max-width: 750px) {
    body {
      overflow-x: hidden;
    }
    .nav-links {
      position: absolute;
      right: 0px;
      height: 28vh;
      top: 19vh;
      background-color: #28477a;
      display: flex;
      flex-direction: column;
      align-items: right;
      width: 100%;
      transform: translateX(100%);
      transition: transform 0.5s ease-in;
    }
    .nav-links li{
      opacity: 0;
    }
    .burger {
      display: block;
    }
  }
  .nav-active{
    transform: translateX(50%);
  }

  @media screen and (max-width: 700px) {
    #codeLink {
      display: none;
    }
    .languages {
      display: none;
    }
  }
  
  .cf:before,
  .cf:after {
    content: " ";
    display: table;
  }
  
  .cf:after {
    clear: both;
  }
  
  /*animation element*/
  
  .animation-element {
    opacity: 1;
    position: relative;
  }
  /*animation element sliding left*/
  
  .animation-element.slide-left {
    opacity: 1;
    -moz-transition: all 500ms linear;
    -webkit-transition: all 500ms linear;
    -o-transition: all 500ms linear;
    transition: all 500ms linear;
    -moz-transform: translate3d(-500px, 0px, 0px);
    -webkit-transform: translate3d(-500px, 0px, 0px);
    -o-transform: translate(-500px, 0px);
    -ms-transform: translate(-500px, 0px);
    transform: translate3d(-500px, 0px, 0px);
  }
  
  .animation-element.slide-left.in-view {
    opacity: 1;
    -moz-transform: translate3d(0px, 0px, 0px);
    -webkit-transform: translate3d(0px, 0px, 0px);
    -o-transform: translate(0px, 0px);
    -ms-transform: translate(0px, 0px);
    transform: translate3d(0px, 0px, 0px);
  }
  /*animation slide left styled for testimonials*/
  
  
  .animation-element.slide-left.testimonial:nth-of-type(odd) {
    width: 100%;
    margin: 0% 1.5% 3.0% 0%;
  }
  
  .animation-element.slide-left.testimonial:nth-of-type(even) {
    width: 100%;
    margin: 0% 0% 3.0% 1.5%;
  }
  
  /* .animation-element.slide-left.testimonial img {
    box-shadow: 0px 1px 3px rgba(51, 51, 51, 0.5);
  } */
  
  
  
  /*media queries for small devices*/
  @media screen and (max-width: 678px){
    /*testimonials*/
    .animation-element.slide-left.testimonial,
    .animation-element.slide-left.testimonial:nth-of-type(odd),
    .animation-element.slide-left.testimonial:nth-of-type(even){
      width: 100%;
      margin: 0px 0px 20px 0px;
    }
    .animation-element.slide-left.testimonial .right,
    .animation-element.slide-left.testimonial .left,
    .animation-element.slide-left.testimonial .content,
    .animation-element.slide-left.testimonial .rating{
      text-align: center;
      float: none;
    }
    .animation-element.slide-left.testimonial img{
      width: 100%;
      height: 100%;
      margin-bottom: 5px;
    }
    
  }
  
  
  