html {
    box-sizing: border-box;
  }
body {
    margin: 0;
    padding: 0; 
    height: 100vh;
    cursor: none;
}
canvas {
    display: block;
}
.landing.title {
      position: absolute;
  }
  .cursor {
      width: 20px;
      height: 20px;
      background-color: transparent;
      border: 1px solid black;
      border-radius: 50%;
      position: absolute;
      transition-duration: 300ms;
      transition-timing-function: ease-in-out;
      animation: cursAmin .5s infinite alternate;
  }
  .cursorPoint {
    width: 4px;
    height: 4px;
    background-color: black;
    border-radius: 50%;
    position: absolute;
}